<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhow.tliasitheima.mapper.EmpMapper">
    <!-- 分页查询，获取列表数据 -->
    <select id="list" resultType="com.zzhow.tliasitheima.pojo.Emp">
        select id, username, password, name, gender, image, job, entry_date, dept_id, create_time, update_time
        from emp
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entry_date between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>

    <!-- 删除指定 ID 的员工 -->
    <delete id="delete">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 添加员工 -->
    <insert id="insert">
        insert into emp (username, name, gender, image, job, entry_date, dept_id, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{image}, #{job}, #{entryDate}, #{deptId}, #{createTime},
                #{updateTime})
    </insert>

    <!-- 根据 ID 查询员工信息 -->
    <select id="selectById" resultType="com.zzhow.tliasitheima.pojo.Emp">
        select id,
               username,
               password,
               name,
               gender,
               image,
               job,
               entry_date,
               dept_id,
               create_time,
               update_time
        from emp
        where id = #{id}
    </select>
</mapper>